In [1]:
print("hi")

hi

In [2]:
## two types of comment 
## single line comment and for that # is used

In [3]:
# ctrl + / -- > auto comment
# and uncomment

In [5]:
#multi line comment - """"""
three semicolon is used

In [6]:
"""sljhasdldfaslfdasfa"""

'sljhasdldfaslfdasfa'

In [7]:
input("enter your phone number")

enter your phone number8637479978

'8637479978'

In [9]:
# assiging something to a charater is called as variable name for example a=2, in this a is the variable name.
a= " virat kholi"

In [10]:
print(a)

 virat kholi

In [11]:
# variable name cannot begin with numbers and it is case sensitive.
input("what is your qualification")

what is your qualificationbca

'bca'

In [13]:
a="bca"

In [14]:
print(a
     )

bca

In [15]:
a= input("enter your name")

enter your namekailash

In [16]:
print(a)

kailash

In [17]:
print(type(a))  #to identify the data types by using this code

<class 'str'>

In [18]:
print(isinstance(a,str))# to ask whether the datatypes is not or yes

True

In [20]:
#these are two types used to identify the data types

In [21]:
print(len(a))# to get lenght of the string
print(max(a))# to get max ascii value of the string
print(min(a))# to get min ascii value of the string
print(sorted(a)) # to get sorted value of the string
# space has the min ascii value

7
s
a
['a', 'a', 'h', 'i', 'k', 'l', 's']

In [23]:
print(a.isalpha()) #whether the string is alphabet
print(a.isalnum()) #whether the string is alphabet and number
print(a.islower()) #whehter the string is in lower case
print(a.isupper()) #whether the string is in upper case
print(a.isdigit()) #whether the string is in number case
print(a.upper()) #change the string into upper case
print(a.lower()) #change the string into lower case
print(a.swapcase()#change the string into opposite case

True
True
True
False
False
KAILASH
kailash
KAILASH

In [24]:
print(a[0:2])# this is used to get the intervals

ka

In [25]:
print(a[:])

kailash

In [27]:
print(a[::2]) this is used to

kiah

In [28]:
print(a[-1]) this is used to get the last letter of the string

h

In [29]:
print(a[::-1]) this used to get the string in reverse order by using the common theory in phython

hsaliak

In [36]:
a=("kailash")

In [ ]:
class 2 6/7/2023

In [154]:
a="mahendra singh dhoni"

In [155]:
a

'mahendra singh dhoni'

In [156]:
print(a.index("i"))#this gives the designation place of the character

10

In [157]:
print(a.index("i",2,15))# this specifically asks whether the character is between the mentioned ex.(2 to 16)or not

10

In [158]:
print(a.rindex("i"))#this reverse index gives the value of the character inthe reverse order

19

In [55]:
print(a.find("z"))#this find is same as the index but it doesn't throw error, if the respective value is not present it gives 
the value as -1

-1

In [159]:
print(a.rfind("i"))#this reverse find is same as the rfind it doesn't throw error, it gives the values as -1

19

In [57]:
print(a.split("e"))

['mah', 'ndra singh dhoni']

In [58]:
print(a.split("n"))

['mahe', 'dra si', 'gh dho', 'i']

In [60]:
print(a.split("n",2))

['mahe', 'dra si', 'gh dhoni']

In [63]:
print(a.replace("i","n"))

mahendra snngh dhonn

In [66]:
print(a.count("n"))#this is know the count of the string

3

In [68]:
print(a.startswith("m"))#this is to know whether the string starts with the respective character

True

In [69]:
print(a.endswith("n")) # this is know whether the string ends with the respective character

False

In [70]:
a="     govinda rampaul"

In [71]:
print(a.rstrip())

     govinda rampaul

In [72]:
print(a.lstrip())

govinda rampaul

In [73]:
print(a.strip())
print(a.strip())

govinda rampaul

In [75]:
string is completed!
--------------------------------------------------

SyntaxError: invalid syntax (3317364679.py, line 1)

In [76]:
a="220"

In [77]:
b=220

In [82]:
print(type (a))

<class 'str'>

In [83]:
print(type(b))

<class 'int'>

In [84]:
print(a.isdigit())

True

In [85]:
b= int(a)  #if the value inside the string is an number so that it can be changed to integer

In [87]:
print(type (b)) #if the value inside the string is not an number so that it cannot be changed and throws an error

<class 'int'>

In [88]:
b

220

In [89]:
a="test"

In [91]:
b=int (a)

ValueError: invalid literal for int() with base 10: 'test'

In [92]:
#get a input as a number from user and check the data type

##a="test@gmail.com"
##test  get the list user name as one 
#gmail get the gmail user name as another

## a ="welcome to todays class"
##output:"welcometotodyasclass" get a output without space

In [96]:
--------------------------------------------------------------------------------------------------------------------------------
#next class     #next class    #next class     #next class      #next class     #next class     #next class    #next class

In [97]:
#data type 3 (LIST) list must be in [] square brackets

In [98]:
a=["kailash","chennai","23"]

In [100]:
print(min(a))
print(max(a))
print(sorted(a))

23
kailash
['23', 'chennai', 'kailash']

In [102]:
a=["kailash",23,"chennai"]

In [103]:
print(min(a)) this function list option of finding min and max can operated between strings or int not with both of them

TypeError: '<' not supported between instances of 'int' and 'str'

In [106]:
print(a[::-1]) #this are the both options available for reverse the string

['chennai', 23, 'kailash']

In [111]:

print(list(reversed(a)))

['chennai', 23, 'kailash']

In [116]:
print(a.index("chennai"))

2

In [117]:
a.append("beach")

In [118]:
a

['kailash', 23, 'chennai', 'beach']

In [121]:
a.insert(2,"beach")

In [122]:
a

['kailash', 23, 'beach', 'chennai', 'beach']

In [127]:
a.remove(a[2])

In [128]:
a

['kailash', 23, 'chennai', 'beach']

In [129]:
b=a.pop

In [133]:
b

In [134]:
#shallow copy
a=[1,2,3]
b=a
a.append(4)

In [135]:
a

[1, 2, 3, 4]

In [136]:
b

[1, 2, 3, 4]

In [166]:
#deep copy
a=[1,2,3]

b=a.copy()
a.append(4)

In [167]:
a

[1, 2, 3, 4]

In [168]:
b

[1, 2, 3]

In [146]:
#tuple brackets
a=(1,2,3,4)
print(type(a))

<class 'tuple'>

In [169]:
a = "123"
print(type(a))

<class 'str'>

In [148]:
print(max(a))
print(min(a))
print(sorted(a))
print(a.index(4))

4
1
[1, 2, 3, 4]
3

In [150]:
print(a.rindex(a))
print(a.find(a))
print(a.rfind(a))# reverse or find doesnot work in list data type

AttributeError: 'tuple' object has no attribute 'rindex'

In [152]:
print(a[::-1])

(4, 3, 2, 1)

In [170]:
"""
#list(collection of str and int)            tuple
muteable                                 immuteale
slow                                      fast
[]                                        ()
"""

'\n#list(collection of str and int)            tuple\nmuteable                                 immuteale\nslow                                      fast\n()                                         []\n'

In [171]:
a = (1,2,3,4)

In [172]:
a.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [173]:
name = "test"
age = "20"
loc = "chenai"

In [174]:
a = [["test" , "20" , "chennai"],["demo" , "37", "hasgdha"]]

In [175]:
a = "demo"
a.index("o")

3

In [176]:
a = ["test" , "30" , "mjfdcfsjhdf"]
a.index("test")

0

In [184]:
a = [1,2,3]
b = a.pop()
print(a)
print(b)

[1, 2]
3